#li {
    border: 0px solid;
    border-radius: 10px;
}

#li:hover {
    -webkit-box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.75);
    margin-top: -10px;
    margin-bottom: 5px;
}

#li::before {
    transform: scaleY(0);
}

#li:hover::before {
    transform: scaleY(4);
}

#borderJam {
    border: solid;
    border-radius: 30px;
    border-color: #000;
}

#myLabel {
    padding-top: 10px;
}

#jaksel {
    cursor: context-menu;
}